.header-wrapper {
  background-color: $header-bg;
  position: sticky;
  top: 0;

  .header {
    z-index: 9999;
    display: flex;
    justify-content: space-between;
        
    h1, h3 {
      text-transform: uppercase;
      text-align: left;
    }

    h1 {
      font-size: 30px;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 10px;
    }

    h3 {
      font-family: 'Roboto Mono', monospace;
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 0px;
      padding-bottom: 20px;
      display: none;
      font-weight: 400;
    }

    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
     
      svg {
        align-self: center;
        font-size: 34px;
      }
    }
  }
}

@media (min-width: 768px) {
  .header-wrapper .header {
    h1 {
      font-size: 42px;
      padding-top: 20px;
      padding-bottom: 0;
    }
    
    h3 {
      display: block;
    }

    .icon svg {
      font-size: 48px;
    }
  }
}

@media (min-width: 825px) {
  .header-wrapper .header {
    svg {
      font-size: 64px;
    }
  }
}

